
<aside class="col-lg-4 aside">
  <!-- Widget [Latest Posts Widget]        -->
  <div class="widget latest-posts">
    <header>
      <h3 class="h6">最近上传</h3>
    </header>
    <hr>
    <div class="blog-posts">
        {% for rec in recent %}
        <a href="{{ rec.get_absolutly_url }}">
        <div class="item d-flex align-items-center">
          <div class="image"><img src="{{ rec.thumbnail.url }}" alt="..." class="smallthumbnail"></div>
          <div class="title"><strong>{{ rec.title }}</strong>
            <div class="d-flex align-items-center">
              <div class="views"><i class="icon-eye"></i>{{ rec.view_count }}</div>
              <div class="comments"><i class="icon-comment"></i>{{ rec.comment_count }}</div>
            </div>
          </div>
        </div></a>

        {% endfor %}
    </div>
  </div>

  <!-- Widget [Tags Cloud Widget]-->
  <div class="widget tags">
    <header>
      <h3 class="h6">Tags</h3>
    </header>
    <hr>
    <ul class="list-inline">
    {% for tag in tag_count %}
      <li class="list-inline-item"><a href="{% url 'get_tag_blogs' id=tag.tags__id %}" class="tag">{{ tag.tags__title }}<span> [{{ tag.tags__title__count }}]</span></a></li>
    {% endfor %}
    </ul>
  </div>
  {% load mptt_tags %}
<ul>
    {% recursetree category_count %}
        <li>
            {{ node.title }} {{ node.get_children_blogcount }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
</aside>
